body {
    background: lightblue;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
}

h1 {
    font-family: fantasy, papyrus;
    color: cornflowerblue;
    text-align: center;
}

h2 {
    color: coral;
}

main {
    margin-right: 20px;
    margin-left: 20px;
    padding: 20px;
    background-color: white;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.form {
      padding: 20px;
      display: inline;
      box-sizing: border-box;
}

button {
      margin-top: 15px;
}

#add {
    background: cornflowerblue;
    color: white;
    border-radius: 10px;
    transition-duration: 0.4s;
    padding: 3px;
    margin: 2px;
}

#add:hover {
    background-color: coral;
    color: white;
}

.form-check-input {
    display: block;
    height: 30px;
    padding: 8px 180px;
    border-radius: 5px;
    
}

#state {
    margin-bottom: 3px;
    padding: 8px 185px;
    border-radius: 5px;
    border-color: lightgray;
    display: block;
    box-sizing: border-box;
}

a {
    color: coral;
    text-decoration: none;
    transition-duration: 0.4s;
}

a:hover {
    color: cornflowerblue;
}

nav {
    background-color: cornflowerblue;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    
}

nav li {
    display: inline;
    margin-right: 35px;
}

nav a {
    color: white;
    font-family: fantasy, papyrus;
    font-size: 1.8em;
    text-decoration: none;
}

nav a:hover {
    color: coral;
    text-decoration: none;
}

/* Bonus Footer Added */
.content-inside {
    padding: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}
  
.footer {
    background: cornflowerblue;
    color: white;
    line-height: 50px;
    padding: 0 20px;
    text-align: center;
    margin-top: 10%;
}

.stars {
    color: red;
}